.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

.container > img {
    width: 10%;
}

.link_list ul {
    display: flex;
    gap: 2rem;
}

.link_list ul li {
    list-style: none;
}

@media only screen and (max-width: 700px) {
    .container > img {
        width: 20%;
    }
    .link_list ul li a {
        font-size: 0.5em;
    }
}
